.box {
    border-radius: 15px;
    background-color: #2D3250;
    box-shadow: 0 10px 20px 0.1px #161825;
    color: #6D75A4;
    padding: 15px;
    text-align: center;
    padding-top: 30px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* width: 100%; */
}

.main {
    margin: 25px;
    flex: 1;
}
