.header {
    padding: 30px;
}

.header a {
    color: #6D75A4;
    text-decoration: none;
}

.header ul {
    list-style: none;
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: left;
    display:flex;
    gap: 40px;
}

.header a:active,
.header a.active {
    transition: all 0.5s;
    box-shadow:0 3px #F9B17A;
    /* border-bottom: 3px solid #F9B17A; */
    color: white;
}

.logo {
    width: 120px;
    cursor: pointer;
    margin-left: 25px;
    /* border: 1px solid red; */
}

nav {
    display:flex;
    align-items: center;
}

@media (max-width: 660px) {
    .header ul li {
        display: none;
    }
    .header {
        border-bottom: 1px solid #353b5f
    }
    .header ul {
        padding: 0
    }
}
